{
  "openapi": "3.1.0",
  "info": {
    "title": "share.mk",
    "version": "1.1.5",
    "description": "Anonymous, zero-signup file sharing with automatic expiry.\n\n**Upload** with the [tus](https://tus.io) resumable protocol (`POST /files/`, then `PATCH`), or from AI assistants via the MCP endpoint (`/mcp`).\n\n**Links** returned for every upload:\n- Share link `/files/{objectId}/{filename}` (`Upload-Share-URL`): opens in the browser, or shows a download page for files that can't be previewed.\n- Direct download `/dl/{objectId}/{filename}`: always downloads.\n- Manage link `/manage/{objectId}#{token}` (`Upload-Manage-URL`): web page to view and delete the file.\n\n**Management token**: returned once when the upload is created (`Upload-Management-Token` header or MCP `management_token`). It is the only way to read file info or delete the file early. Only its hash is stored.\n\n**Limits**: max file size 10 GiB; expiry 1h, 6h, 24h (default), 7d or 30d; 5 concurrent uploads (POST/PATCH) per IP and 50 overall; MCP requests up to 16 MiB with 2 concurrent per IP. Unfinished uploads idle for 48h are removed."
  },
  "servers": [
    {
      "url": "https://share.mk",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Upload",
      "description": "tus resumable upload protocol"
    },
    {
      "name": "Download",
      "description": "Share links, direct downloads and password unlock"
    },
    {
      "name": "Management",
      "description": "File info and deletion with the management token"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol endpoint for AI assistants"
    },
    {
      "name": "Service",
      "description": "Health and documentation"
    }
  ],
  "paths": {
    "/files/": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Create upload",
        "operationId": "createUpload",
        "description": "Starts a resumable upload. Send metadata in `Upload-Metadata` as comma-separated `key base64(value)` pairs:\n\n| Key | Value |\n|---|---|\n| `filename` | Original filename |\n| `filetype` | MIME type (`content-type` is accepted as an alias) |\n| `expires-in` | `1h`, `6h`, `24h` (default), `7d`, `30d` |\n| `password` | Optional download password; only a PBKDF2 hash is stored |\n| `disposition` | Optional. `attachment` never previews the file: browsers get the download page, other clients the bytes as an attachment. Default `inline`. |\n\nInvalid values are rejected with 400 and no upload is created.\n\nThe response carries the management token (shown **once**), the manage URL and the share URL. Then send the bytes with `PATCH` to the `Location` URL.\n\nExample: `Upload-Metadata: filename cmVwb3J0LnBkZg==,filetype YXBwbGljYXRpb24vcGRm,expires-in N2Q=`",
        "parameters": [
          {
            "$ref": "#/components/parameters/tusResumable"
          },
          {
            "name": "Upload-Length",
            "in": "header",
            "description": "Total upload size in bytes",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "Upload-Defer-Length",
            "in": "header",
            "description": "Set to 1 to send the length later",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          },
          {
            "name": "Upload-Metadata",
            "in": "header",
            "description": "Comma-separated `key base64(value)` pairs",
            "schema": {
              "type": "string"
            },
            "example": "filename cmVwb3J0LnBkZg==,expires-in N2Q="
          }
        ],
        "responses": {
          "201": {
            "description": "Upload created",
            "headers": {
              "Location": {
                "description": "tus upload URL for PATCH/HEAD (`/files/{objectId}+{multipartId}`)",
                "schema": {
                  "type": "string"
                }
              },
              "Upload-Management-Token": {
                "description": "Secret token for the management API. Returned only once.",
                "schema": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{64}$"
                }
              },
              "Upload-Manage-URL": {
                "description": "Web page to view and delete the upload; the token is in the URL fragment.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Upload-Share-URL": {
                "description": "Link to share: `/files/{objectId}/{filename}`.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid metadata (expires-in, disposition or password)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "ERR_INVALID_EXPIRES_IN: invalid expires-in \"1y\"; valid values: 1h, 6h, 24h, 7d, 30d"
              }
            }
          },
          "413": {
            "description": "Upload larger than the 10 GiB limit"
          },
          "429": {
            "description": "Too many concurrent uploads from this IP or overall"
          }
        }
      }
    },
    "/files/{id}": {
      "head": {
        "tags": [
          "Upload"
        ],
        "summary": "Get upload status",
        "operationId": "getUploadStatus",
        "description": "tus status check (`Upload-Offset`, `Upload-Length`). `Upload-Metadata` never includes secret values (password hash, token hash).",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/tusResumable"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload status",
            "headers": {
              "Upload-Offset": {
                "schema": {
                  "type": "integer"
                }
              },
              "Upload-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Upload-Metadata": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Upload not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Upload"
        ],
        "summary": "Upload bytes",
        "operationId": "uploadChunk",
        "description": "Appends bytes at `Upload-Offset`. Repeat until the whole file is sent; resume after interruptions by reading the offset with HEAD.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/tusResumable"
          },
          {
            "name": "Upload-Offset",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/offset+octet-stream"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/offset+octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Bytes accepted",
            "headers": {
              "Upload-Offset": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Upload not found"
          },
          "409": {
            "description": "Offset mismatch"
          },
          "429": {
            "description": "Too many concurrent uploads"
          }
        }
      },
      "get": {
        "tags": [
          "Download"
        ],
        "summary": "Download or preview a file",
        "operationId": "downloadFile",
        "description": "Streams the file. Supports `Range` (video seeking) and `If-None-Match`.\n\n**How it is served**\n- Images, video, audio and PDF: inline (opens in the browser).\n- Text, HTML, SVG source and code: inline as `text/plain` (UTF-8 unless the upload named a charset), never executed.\n- Anything else, or uploads created with `disposition: attachment`: browsers (`Accept: text/html`) get a page with the filename, size, expiry and a Download button linking to `/dl/…`; other clients (curl, scripts, AI tools) get the bytes as an attachment.\n- `?dl=1` always downloads (same as `/dl/…`).\n\nEvery response carries `X-Content-Type-Options: nosniff` and a restrictive `Content-Security-Policy`.\n\n**Password-protected files** need HTTP Basic auth (password as the Basic password, any username, e.g. `curl -u :secret`). Browsers get a password form that posts back to the same URL and sets an unlock cookie (12h).\n\nThe share link `/files/{objectId}/{filename}` behaves the same.",
        "security": [
          {},
          {
            "filePassword": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "dl",
            "in": "query",
            "description": "`1` forces a download",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          },
          {
            "name": "Range",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "bytes=0-1023"
          }
        ],
        "responses": {
          "200": {
            "description": "File content, or the HTML download page for browsers when the file cannot be previewed",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "Download page"
                }
              }
            }
          },
          "206": {
            "description": "Partial content (Range request)"
          },
          "304": {
            "description": "Not modified (If-None-Match)"
          },
          "401": {
            "description": "Password required or wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found, deleted or expired. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Upload not complete yet. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "Range not satisfiable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Storage backend error. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Download"
        ],
        "summary": "Unlock a password-protected file (browser form)",
        "operationId": "unlockFile",
        "description": "Target of the HTML password form on `/files/{id}`. On success sets the unlock cookie (`sm_unlock_{objectId}`, `Path=/`, 12h, HttpOnly) and redirects (303) back to the same URL, so it covers `/files/` and `/dl/`. API clients should use Basic auth on GET instead.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "dl": {
                    "type": "string",
                    "enum": [
                      "1"
                    ],
                    "description": "Redirect to the forced-download URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "303": {
            "description": "Unlocked; redirects to the file",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management"
        ],
        "summary": "Delete file",
        "operationId": "deleteUpload",
        "description": "Same as `DELETE /api/files/{id}`. Also aborts an unfinished upload. The token may be sent as `Authorization: Bearer <token>` or in the `Upload-Management-Token` header.",
        "security": [
          {
            "managementToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted"
          },
          "401": {
            "description": "Management token missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown file or wrong token (same response, to prevent ID enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Storage backend error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{id}/{filename}": {
      "get": {
        "tags": [
          "Download"
        ],
        "summary": "Share link",
        "operationId": "downloadFileByName",
        "description": "Same as `GET /files/{id}`; the filename segment is ignored and only makes tab titles, the PDF viewer and \"Save as\" show the real name.",
        "security": [
          {},
          {
            "filePassword": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/filename"
          },
          {
            "name": "dl",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          },
          {
            "name": "Range",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content, or the HTML download page for browsers when the file cannot be previewed",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "Download page"
                }
              }
            }
          },
          "206": {
            "description": "Partial content (Range request)"
          },
          "304": {
            "description": "Not modified (If-None-Match)"
          },
          "401": {
            "description": "Password required or wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found, deleted or expired. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Upload not complete yet. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "Range not satisfiable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Storage backend error. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Download"
        ],
        "summary": "Unlock a password-protected file (browser form)",
        "operationId": "unlockFileByName",
        "description": "Target of the HTML password form on `/files/{id}/{filename}`. On success sets the unlock cookie (`sm_unlock_{objectId}`, `Path=/`, 12h, HttpOnly) and redirects (303) back to the same URL, so it covers `/files/` and `/dl/`. API clients should use Basic auth on GET instead.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/filename"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "dl": {
                    "type": "string",
                    "enum": [
                      "1"
                    ],
                    "description": "Redirect to the forced-download URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "303": {
            "description": "Unlocked; redirects to the file",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dl/{id}": {
      "get": {
        "tags": [
          "Download"
        ],
        "summary": "Direct download",
        "operationId": "directDownload",
        "description": "Always downloads (`Content-Disposition: attachment`), never previews. Same as `?dl=1`.",
        "security": [
          {},
          {
            "filePassword": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "Range",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content (`Content-Disposition: attachment`)",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial content (Range request)"
          },
          "304": {
            "description": "Not modified (If-None-Match)"
          },
          "401": {
            "description": "Password required or wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found, deleted or expired. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Upload not complete yet. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "Range not satisfiable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Storage backend error. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Download"
        ],
        "summary": "Unlock a password-protected file (browser form)",
        "operationId": "unlockDirect",
        "description": "Target of the HTML password form on `/dl/{id}`. On success sets the unlock cookie (`sm_unlock_{objectId}`, `Path=/`, 12h, HttpOnly) and redirects (303) back to the same URL, so it covers `/files/` and `/dl/`. API clients should use Basic auth on GET instead.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "dl": {
                    "type": "string",
                    "enum": [
                      "1"
                    ],
                    "description": "Redirect to the forced-download URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "303": {
            "description": "Unlocked; redirects to the file",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dl/{id}/{filename}": {
      "get": {
        "tags": [
          "Download"
        ],
        "summary": "Direct download link",
        "operationId": "directDownloadByName",
        "description": "Always downloads. Returned as `direct_download_url`; the filename segment is cosmetic.",
        "security": [
          {},
          {
            "filePassword": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/filename"
          },
          {
            "name": "Range",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content (`Content-Disposition: attachment`)",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial content (Range request)"
          },
          "304": {
            "description": "Not modified (If-None-Match)"
          },
          "401": {
            "description": "Password required or wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found, deleted or expired. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Upload not complete yet. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "Range not satisfiable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Storage backend error. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Download"
        ],
        "summary": "Unlock a password-protected file (browser form)",
        "operationId": "unlockDirectByName",
        "description": "Target of the HTML password form on `/dl/{id}/{filename}`. On success sets the unlock cookie (`sm_unlock_{objectId}`, `Path=/`, 12h, HttpOnly) and redirects (303) back to the same URL, so it covers `/files/` and `/dl/`. API clients should use Basic auth on GET instead.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/filename"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "dl": {
                    "type": "string",
                    "enum": [
                      "1"
                    ],
                    "description": "Redirect to the forced-download URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "303": {
            "description": "Unlocked; redirects to the file",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Wrong password. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "File not found. Browsers (`Accept: text/html`) get an HTML page instead of JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/files/{id}": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Get file info",
        "operationId": "getFileInfo",
        "security": [
          {
            "managementToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "File info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "401": {
            "description": "Management token missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown file or wrong token (same response, to prevent ID enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Storage backend error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management"
        ],
        "summary": "Delete file",
        "operationId": "deleteFile",
        "description": "Permanently deletes the file (and aborts it if still uploading).",
        "security": [
          {
            "managementToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted"
          },
          "401": {
            "description": "Management token missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown file or wrong token (same response, to prevent ID enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Storage backend error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "MCP Streamable HTTP (JSON-RPC)",
        "operationId": "mcp",
        "description": "Model Context Protocol endpoint for AI assistants. Tools:\n\n- `upload_file(filename, content (base64), content_type?, expires_in?, password?, disposition?)` → `file_id`, `management_token`, `manage_url`, `download_url`, `direct_download_url`, `expires_at`, `filename`, `size_bytes`, `password_protected`\n- `get_file_info(file_id, management_token)` → same fields as `GET /api/files/{id}`\n- `delete_file(file_id, management_token)` → `deleted`, `file_id`\n\nStart with `initialize`; send the returned `Mcp-Session-Id` header on later requests. Request bodies are limited to 16 MiB (about 12 MB of file content after base64); use tus for larger files. Full instructions: [/llms.txt](/llms.txt).",
        "parameters": [
          {
            "name": "Mcp-Session-Id",
            "in": "header",
            "description": "Session ID from the initialize response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "tools/call",
                "params": {
                  "name": "upload_file",
                  "arguments": {
                    "filename": "hello.txt",
                    "content": "aGVsbG8=",
                    "expires_in": "1h"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "headers": {
              "Mcp-Session-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON-RPC or unknown session"
          },
          "413": {
            "description": "Request body larger than 16 MiB"
          },
          "429": {
            "description": "Too many concurrent MCP requests from this IP or overall"
          }
        }
      },
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "MCP server-to-client event stream",
        "operationId": "mcpStream",
        "parameters": [
          {
            "name": "Mcp-Session-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-sent events",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "End an MCP session",
        "operationId": "mcpEndSession",
        "parameters": [
          {
            "name": "Mcp-Session-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session ended"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "This OpenAPI document",
        "operationId": "getOpenAPI",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Instructions for AI assistants",
        "operationId": "getLLMsTxt",
        "responses": {
          "200": {
            "description": "Plain-text usage guide",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "managementToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Management token from the `Upload-Management-Token` header (tus) or `management_token` (MCP). For `DELETE /files/{id}` it may also be sent in the `Upload-Management-Token` header."
      },
      "filePassword": {
        "type": "http",
        "scheme": "basic",
        "description": "Password of a protected file as the Basic auth password; the username is ignored (`curl -u :secret`)."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Upload ID. Either the object ID (`/files/{objectId}/…` in share links) or the full tus ID from `Location` (`{objectId}+{multipartId}`).",
        "schema": {
          "type": "string"
        },
        "example": "0b5d4e8f608768ca0189eb430e63f513"
      },
      "filename": {
        "name": "filename",
        "in": "path",
        "required": true,
        "description": "Cosmetic filename; ignored when serving.",
        "schema": {
          "type": "string"
        },
        "example": "report.pdf"
      },
      "tusResumable": {
        "name": "Tus-Resumable",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "1.0.0"
          ]
        }
      }
    },
    "schemas": {
      "FileInfo": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Full upload ID"
          },
          "filename": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          },
          "complete": {
            "type": "boolean",
            "description": "Whether all bytes have been received"
          },
          "download_url": {
            "type": "string",
            "format": "uri",
            "description": "Share link: `/files/{objectId}/{filename}`"
          },
          "direct_download_url": {
            "type": "string",
            "format": "uri",
            "description": "Always downloads: `/dl/{objectId}/{filename}`"
          },
          "expires_at": {
            "type": "string",
            "description": "RFC 3339 time; empty until the upload completes"
          },
          "disposition": {
            "type": "string",
            "enum": [
              "inline",
              "attachment"
            ]
          },
          "password_protected": {
            "type": "boolean"
          }
        },
        "example": {
          "file_id": "0b5d4e8f608768ca0189eb430e63f513+01M3H2KRTJPDWG3V1WKSM5V8G2",
          "filename": "report.pdf",
          "content_type": "application/pdf",
          "size_bytes": 48213,
          "complete": true,
          "download_url": "https://share.mk/files/0b5d4e8f608768ca0189eb430e63f513/report.pdf",
          "direct_download_url": "https://share.mk/dl/0b5d4e8f608768ca0189eb430e63f513/report.pdf",
          "expires_at": "2026-10-04T12:00:00Z",
          "disposition": "inline",
          "password_protected": false
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "example": {
          "error": "file not found"
        }
      }
    }
  }
}
